/* Base Application Styles */
html, body {
  width:100%;
  height:100%;
  background-color: #222;
}

#app{
  width: 100%;
  height: 100%;
}

/*stage start*/
.stage{
  position: relative;
  width: 100%;
  height:680px
}
/*stage end*/

/*stage start*/
.img-sec{
  position: relative;
  width: 100%;
  height:100%;
  
  overflow: hidden;
  background-color: #ddd;
}
/*stage end*/

/*stage start*/
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index:101;
  
  text-align:center;
}
/*stage end*/
